Source: python-ceilometerclient
Section: python
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all (>= 2.6.6-3~),
               python-pbr,
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: python-coverage (>= 3.6),
                     python-fixtures (>= 0.3.14),
                     python-hacking,
                     python-iso8601 (>= 0.1.9),
                     python-keystoneclient (>= 1:1.1.0),
                     python-mock (>= 1.0),
                     python-oslo.i18n (>= 1.3.0),
                     python-oslo.serialization (>= 1.2.0),
                     python-oslo.utils (>= 1.2.0),
                     python-oslosphinx (>= 2.2.0.0),
                     python-prettytable (>= 0.7),
                     python-requests (>= 2.2.0),
                     python-six (>= 1.7.0),
                     python-stevedore (>= 1.1.0),
                     python-subunit (>= 0.0.18),
                     python-testtools (>= 0.9.34),
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18),
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-ceilometerclient.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/python-ceilometerclient.git
Homepage: http://www.openstack.org

Package: python-ceilometerclient
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-iso8601 (>= 0.1.9),
         python-keystoneclient (>= 1:1.1.0),
         python-oslo.i18n (>= 1.3.0),
         python-oslo.serialization (>= 1.2.0),
         python-oslo.utils (>= 1.2.0),
         python-pbr,
         python-prettytable (>= 0.7),
         python-requests (>= 2.2.0),
         python-six (>= 1.7.0),
         python-stevedore (>= 1.1.0),
         ${misc:Depends},
         ${python:Depends},
         ${sphinxdoc:Depends},
Description: Client library for Openstack Ceilometer API server
 Ceilometer aims to deliver a unique point of contact for billing systems to
 aquire all counters they need to establish customer billing, accross all
 current and future OpenStack components. The delivery of counters must be
 tracable and auditable, the counters must be easily extensible to support new
 projects, and agents doing data collections should be independent of the
 overall system.
 .
 This is a client for the Ceilometer which uses the OpenStack Image API.
 There's a Python API (the "ceilometerclient" module), and a command-line
 script ("ceilometer").
